{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Заказы{% endblock %}
{% block body %}

<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Заказы</h1>
        {% if orders %}
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="10%"> № </th>
                  <th width="10%"> client_id </th>
                  <th width="10%"> fio </th>
                  <th width="10%"> room_id </th>
                  <th width="10%"> date_of_arrival </th>
                  <th width="10%"> date_of_leaving </th>
                    <th width="10%"> room_booked </th>
                    <th width="10%"> order_paid </th>
                    <th width="10%"> total_payment </th>
                  <th width="10%"> Изменить </th>
                  <th width="10%"> Удалить </th>
                </tr>
              </thead>
              <tbody>
              {% for order in orders %}
                <tr>
                    <td> {{ order.id }} </td>
                    <td> {{ order.client.id  }} </td>
                    <td> {{ order.client.last_name }} {{ order.client.first_name }} {{ order.client.middle_name }}</td>
                    <td> {{ order.room.id }} {{ order.room.number }}</td>
                    <td> {{ order.date_of_arrival }} </td>
                    <td> {{ order.date_of_leaving }} </td>
                    <td>
                          <div class="checkbox disabled">
                           {% if order.room_booked %}
                              <label><input type="checkbox" value="" checked disabled></label>
                           {% else %}
                              <label><input type="checkbox" value="" disabled></label>
                           {% endif %}
                          </div>
                    </td>
                    <td>
                         <div class="checkbox disabled">
                           {% if order.order_paid %}
                            <label><input type="checkbox" value="" checked disabled></label>
                           {% else %}
                            <label><input type="checkbox" value="" disabled></label>
                           {% endif %}
                          </div>
                    </td>
                    <td> {{ order.total_payment }} </td>
                  <td>
                    <a href="{{ url_for('admin.edit_order', id=order.id) }}">
                      <i class="fa fa-pencil"></i> Изменить
                    </a>
                  </td>
                  <td>
                    <a href="{{ url_for('admin.delete_order', id=order.id) }}">
                      <i class="fa fa-trash"></i> Удалить
                    </a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>

          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> Заказы не добавлены. </h3>
            <hr class="intro-divider">
        {% endif %}
          <a href="{{ url_for('admin.add_order') }}" class="btn btn-default btn-lg">
            <i class="fa fa-plus"></i>
            Добавить заказ
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}