{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}Управление сотрудниками{% endblock %}
{% block body %}
<div class="content-section">
 <div class="outer">
    <div class="middle">
      <div class="inner">
        <div class="center">
            {% if add_employee %}
             <h1> Добавить сотрудника </h1>
            {% else %}
            <h1> Назначение отдела и должности </h1>
            <br/>
            <p>
                Ваберите отдел и должность
                <span style="color: #aec251;">
                    {{ employee.first_name }} {{ employee.last_name }} {{ employee.middle_name }}
                </span>
            </p>
            {% endif %}
            <br/>
            {{ wtf.quick_form(form) }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
