{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Сотрудники{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Сотрудники</h1>
        {% if employees %}
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="30%"> ФИО </th>
                  <th width="25%"> Отдел </th>
                  <th width="30%"> Должность </th>
                  <th width="15%"> Назначить </th>
                </tr>
              </thead>
              <tbody>
              {% for employee in employees %}
                {% if employee.is_admin %}
                    <tr style="background-color: #aec251; color: white;">
                        {% if employee.username == "admin" %}
                             <td> <i class="fa fa-key"></i >Администратор </td>
                        {% else %}
                            <td> <i class="fa fa-key"></i> {{ employee.last_name }} {{ employee.first_name }} {{ employee.middle_name }} </td>
                        {% endif %}
                        <td> N/A </td>
                        <td> N/A </td>
                        <td> N/A </td>
                    </tr>
                {% else %}
                    <tr>
                      <td> {{ employee.last_name }} {{ employee.first_name }} {{ employee.middle_name }}</td>
                      <td>
                        {% if employee.department %}
                          {{ employee.department.name }}
                        {% else %}
                          -
                        {% endif %}
                      </td>
                      <td>
                        {% if employee.role %}
                          {{ employee.role.name }}
                        {% else %}
                          -
                        {% endif %}
                      </td>
                      <td>
                        <a href="{{ url_for('admin.assign_employee', id=employee.id) }}">
                          <i class="fa fa-user-plus"></i> Назначить
                        </a>
                      </td>
                    </tr>
                {% endif %}
              {% endfor %}
              </tbody>
            </table>
          <div style="text-align: center">
          <a href="{{ url_for('admin.add_employee') }}" class="btn btn-default btn-lg">
            <i class="fa fa-plus"></i>
            Добавить сотрудника
          </a>
          </div>
          </div>
        {% endif %}

        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}