{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Maids{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Maids</h1>
        {% if maids %}
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="15%"> Last name </th>
                  <th width="15%"> First name </th>
                  <th width="15%"> Middle name </th>
                  <th width="25%"> Passport data </th>
                  <th width="10%"> Date of employment </th>
                  <th width="10%"> Edit </th>
                  <th width="10%"> Delete </th>
                </tr>
              </thead>
              <tbody>
              {% for maid in maids %}
                <tr>
                  <td> {{ maid.last_name }} </td>
                  <td> {{ maid.first_name }} </td>
                  <td> {{ maid.middle_name }} </td>
                  <td> {{ maid.passport_data }} </td>
                  <td> {{ maid.date_of_employment }} </td>
                  <td>
                    {% if maid.rooms %}
                      {{ maid.rooms.count() }}
                    {% else %}
                      0
                    {% endif %}
                  </td>
                  <td>
                    <a href="{{ url_for('admin.edit_maids', id=maid.id) }}">
                      <i class="fa fa-pencil"></i> Edit
                    </a>
                  </td>
                  <td>
                    <a href="{{ url_for('admin.delete_maid', id=maid.id) }}">
                      <i class="fa fa-trash"></i> Delete
                    </a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> No maids have been added. </h3>
            <hr class="intro-divider">
        {% endif %}
          <a href="{{ url_for('admin.add_maid') }}" class="btn btn-default btn-lg">
            <i class="fa fa-plus"></i>
            Add Maid
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}