{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div style="display:table-cell; vertical-align:middle; text-align:center">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                          <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                            <li data-target="#myCarousel" data-slide-to="3"></li>
                            <li data-target="#myCarousel" data-slide-to="4"></li>
                          </ol>
                          <!-- Wrapper for slides -->
                          <div class="carousel-inner">
                            <div class="item active">
                              <img src="{{ url_for('static', filename='images/baner1.jpg') }}">
                            </div>
                            <div class="item">
                              <img src="{{ url_for('static', filename='images/baner2.jpg') }}">
                            </div>
                            <div class="item">
                              <img src="{{ url_for('static', filename='images/baner3.jpg') }}">
                            </div>
                            <div class="item">
                              <img src="{{ url_for('static', filename='images/baner4.jpg') }}">
                            </div>
                            <div class="item">
                              <img src="{{ url_for('static', filename='images/baner5.jpg') }}">
                            </div>
                          </div>
                          <!-- Left and right controls -->
                          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Previous</span>
                          </a>
                          <a class="right carousel-control" href="#myCarousel" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                          </a>
                    </div>
                </div>
                <div class="intro-message">
                    <h1>Mini Hotel 5 Stars</h1>
                    <h3>Только лучший сервис!</h3>
                    <hr class="intro-divider">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}