{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Клиенты{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Клиенты</h1>
        {% if clients %}
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="25%"> ФИО </th>
                  <th width="5%"> Дата рождения </th>
                  <th width="10%"> Email </th>
                  <th width="20%"> Паспорт </th>
                  <th width="20%"> Регистрация </th>
                  <th width="10%"> Изменить </th>
                  <th width="10%"> Удалить </th>
                </tr>
              </thead>
              <tbody>
              {% for client in clients %}
                <tr>
                    <td> {{ client.last_name }} {{ client.first_name }} {{ client.middle_name }} </td>
                    <td> {{ client.birthday }} </td>
                    <td> {{ client.email }} </td>
                    <td> {{ client.passport }} </td>
                    <td> {{ client.registration }} </td>
                  <td>
                    <a href="{{ url_for('admin.edit_client', id=client.id) }}">
                      <i class="fa fa-pencil"></i> Изменить
                    </a>
                  </td>
                  <td>
                    <a href="{{ url_for('admin.delete_client', id=client.id) }}">
                      <i class="fa fa-trash"></i> Удалить
                    </a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> Клиенты не добавлены. </h3>
            <hr class="intro-divider">
        {% endif %}
          <a href="{{ url_for('admin.add_client') }}" class="btn btn-default btn-lg">
            <i class="fa fa-plus"></i>
            Добавить клиента
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}