{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Room Classes{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Room Class</h1>
        {% if maids %}
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="14%"> Class_name </th>
                  <th width="8%"> TV </th>
                  <th width="8%"> Internet </th>
                  <th width="8%"> Air conditioning </th>
                  <th width="8%"> Kitchen </th>
                  <th width="8%"> Fitness </th>
                  <th width="8%"> Dinner </th>
                  <th width="8%"> Breakfast </th>
                  <th width="10%"> Edit </th>
                  <th width="10%"> Delete </th>
                </tr>
              </thead>
              <tbody>
              {% for maid in maids %}
                <tr>
                  <td> {{ room_class.class_name }} </td>
                  <td> {{ room_class.tv }} </td>
                  <td> {{ room_class.internet }} </td>
                  <td> {{ room_class.air_conditioning }} </td>
                  <td> {{ room_class.kitchen }} </td>
                  <td> {{ room_class.fitness }} </td>
                  <td> {{ room_class.dinner }} </td>
                  <td> {{ room_class.breakfast }} </td>
                  <td>
                    {% if room_class.rooms %}
                      {{ room_class.rooms.count() }}
                    {% else %}
                      0
                    {% endif %}
                  </td>
                  <td>
                    <a href="{{ url_for('admin.edit_room_classes', id=room_class.id) }}">
                      <i class="fa fa-pencil"></i> Edit
                    </a>
                  </td>
                  <td>
                    <a href="{{ url_for('admin.delete_room_class', id=room_class.id) }}">
                      <i class="fa fa-trash"></i> Delete
                    </a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> No maids have been added. </h3>
            <hr class="intro-divider">
        {% endif %}
          <a href="{{ url_for('admin.add_room_class') }}" class="btn btn-default btn-lg">
            <i class="fa fa-plus"></i>
            Add Maid
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}