<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }} | Mini Hotel 5 Stars</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand topnav" href="{{ url_for('home.homepage') }}">Mini Hotel 5 Star</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                 <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated %}
                      {% if current_user.is_admin %}
                        <li><a href="{{ url_for('home.admin_dashboard') }}">Dashboard</a></li>
                        <li><a href="{{ url_for('admin.list_departments') }}">Отделы</a></li>
                        <li><a href="{{ url_for('admin.list_roles') }}">Должности</a></li>
                        <li><a href="{{ url_for('admin.list_clients') }}">Клиенты</a></li>
                        <li><a href="{{ url_for('admin.list_orders') }}">Заказы</a></li>
                        <li><a href="{{ url_for('admin.list_employees') }}">Сотрудники</a></li>
                      {% else %}
                        <li><a href="{{ url_for('home.dashboard') }}">Dashboard</a></li>
                      {% endif %}
                      <li><a href="{{ url_for('auth.logout') }}">Выйти</a></li>
                      <li><a><i class="fa fa-user"></i>  Hi, {{ current_user.username }}!</a></li>
                    {% else %}
                      <li><a href="{{ url_for('home.homepage') }}">Главная</a></li>
                      <li><a href="{{ url_for('auth.register') }}">Регистрация</a></li>
                      <li><a href="{{ url_for('auth.login') }}">Войти</a></li>
                    {% endif %}
                </ul>
          </div>
        </div>
    </nav>
    <div class="wrapper">

      {% block body %}
      {% endblock %}

      <div class="push"></div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="copyright text-muted small">Copyright © 2019. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>
    <script
  src="https://code.jquery.com/jquery-3.4.0.slim.min.js"
  integrity="sha256-ZaXnYkHGqIhqTbJ6MB4l9Frs/r7U4jlx7ir8PJYBqbI="
  crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../static/js/bootstrap-datepicker.js"></script>
</body>
</html>